[B2DstTauNu]
fileNames = ["root/B02DstTauNu_TauMu_hammer.dat"]
histoname = mmiss2_q2_el
ffscheme = SchemeBLPRXP
wcscheme = BtoCTauNu
scalefactor = 10000.
formfactors = {"delta_RhoSq" : 0., "delta_cSt" : 0., "delta_chi21" : 0., "delta_chi2p" : 0., "delta_chi3p" : 0., "delta_eta1" : 0., "delta_etap" : 0., "delta_phi1p" : 0., "delta_beta21" : 0., "delta_beta3p" : 0.}
wilsoncoefficients = {"SM" : 1., "S_qLlL" : 0., "S_qRlL" : 0., "V_qLlL" : 0., "V_qRlL" : 0., "T_qLlL" : 0.}
nuisance = {"lumi" : 1.}
ishammerweighted = 1
axistitles = ["mmiss2 [GeV^2/c^4]", "q2 [GeV^2/c^4]", "FS Lepton Energy [GeV]"] 
binning = [[-2.,10.],[-0.4,12.6],[0.,2.0]]

[B2DstMuNu]
fileNames = ["root/B02DstMuNu_hammer.dat"]
histoname = mmiss2_q2_el
ffscheme = SchemeBLPRXP
wcscheme = BtoCMuNu
scalefactor = 100000.
formfactors = {"delta_RhoSq" : 0., "delta_cSt" : 0., "delta_chi21" : 0., "delta_chi2p" : 0., "delta_chi3p" : 0., "delta_eta1" : 0., "delta_etap" : 0., "delta_phi1p" : 0., "delta_beta21" : 0., "delta_beta3p" : 0.}
wilsoncoefficients = {"SM" : 1., "S_qLlL" : 0., "S_qRlL" : 0., "V_qLlL" : 0., "V_qRlL" : 0., "T_qLlL" : 0.}
nuisance = {"lumi" : 1.}
ishammerweighted = 1
axistitles = ["mmiss2 [GeV^2/c^4]", "q2 [GeV^2/c^4]", "FS Lepton Energy [GeV]"] 
binning = [[-2.,10.],[-0.4,12.6],[0.,2.0]]